*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    
    color: #FFFFFF;
    height: 64px;
    border: 0;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
    font-weight: 700;
    font-size: 20px;

}

.header{
 background: #FFF8F3;
 background-image:url('../images/header_bg.png'), url('../images/developer.png');
 background-position: bottom right, left;
 background-repeat: no-repeat;
}

/* header and navigation styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;

}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{
font-size: 85px;
font-weight: 700;


}

.banner-sub-title{
font-size: 45px;
font-weight: 600;
margin: 20px;

}

.banner-description{
   color:  #757575;
   font-size: 18px;
   margin: 30px; 
}
/* main section */
main{
   max-width: 1140px;
   margin: 0 auto;

}

section{
    margin-top: 130px;
}

/* about section styles */
.about{
    margin-top: 131px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 209px 156px;
    text-align: center;
}

.section-title{
     margin-bottom: 50px;
     font-size: 35px;
     font-weight: 700;
     text-align: center;

}

.section-description{

color: #757575;
font-size: 18px;
margin-bottom: 30px;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about .info-title{
    font-size: 20px;
    color:  #757575;
}

.about .info-description{
    font-size: 20px;
    font-weight: 700;
}

/* what i do styles */

.what-i-do{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;

}

.skill-title{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color:  #757575;
}

/* resume styles */






/* flex works whatever it has inside in the ul list 
makes it in same line side by side.
 to make elements far apart we have to justify content with space between using flex.
 such as justify-content: space between

 In flex, there is some attributes such as align-items, justify horizontally that are used.

 font-size: 16px and font-weight: 400 is by default.

In flex: to make it like table in line, we need container which makes the list in line side by side.
 */